body {
    font-family: "Ubuntu", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    background-color: #bf7bf7;
    color: #fff;
    padding: 7px 17px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #7fb7fb
}

h1 {
    font-size: 32px;
    margin-bottom: 8px;
    color: #444;
}

hr {
    border: 1px solid #bbb;
    margin: 17px 0;
}

input[type="text"] {
    width: 100%;
    padding: 7px;
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 4px;
    outline: none;
}

.container {
    background-color: #ffffff;
    box-shadow: 0px 0px 7px
        rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 17px;
    text-align: center;
}

.header {
    text-align: center;
}

.qrcode {
    margin: 17px 0;
}